<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InformationServiceClientPrefix" value="FI_InformationService_"/>
    <add key="InformationServiceProductPrefix" value="FI_InformationService_"/>
    <add key="ExportFileLocation" value="\\intad1.com\\data\\ClientBilling_PRD_FI\\Import\\"/>
    <add key="ExportFileNamePrefix" value="FI_InfomationServiceProductUsageLog_"/>
    <add key="InformationServiceClientPrefix" value="FI_InformationService_"/>
    <add key="InformationServiceProductPrefix" value="FI_InformationService_"/>
    <!-- <add key="ExportFileLocation" value="\\intad1.com\\data\\ClientBilling_PRD_FI\\Import\\"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="Test" connectionString="metadata=res://*/InformationService.csdl|res://*/InformationService.ssdl|res://*/InformationService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB-IS-PRD.intad1.com, 5011;initial catalog=CustomerInformationService;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="InformationServiceEntities"  connectionString="data source=DB-IS-PRD.intad1.com, 5011, 5011;initial catalog=CustomerInformationService;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework"/>
  </connectionStrings>
     <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>